.HeaderEn{
    direction: ltr;
}
.navbarFa,.navbarEn,.navbar{
    display: flex;
}
.HeaderEn, .HeaderFa {
    position: fixed;
    margin: auto;
    box-sizing: border-box;
    top: 1vw;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    width: 96vw;
    height: 102px;
    background-color: #ffffff;
    box-shadow: 2px -2px 10px rgba(3,3,3,0.1);
    border-radius: 15px;
}
.HeaderFa{
    direction: rtl;
    
}
.btnReserve{
    color: rgb(91, 188, 247) !important;
}
.links{
    color:black;
    text-decoration: none;
}
.headerContainer{
    margin-left: -8%;
    padding-top: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
}
.button{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 2vw;
}
.logo{
    font-size: 20px;
}
/* Mobile devices (portrait and landscape) */
@media only screen and (max-width: 768px) {
    .navbarFa,.navbarEn {
        flex-direction: column;
        width: 100vw;
        background-color: #ffffff;
        margin: auto;
        position: relative;
    }
    .navbarEn{
        left: -3%;
    }
    .navbarFa{
        left: 3%;
    }
    .HeaderEn, .HeaderFa {
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        top: 0%;
        border-radius: 0;
        left: 4%;
        width: 100vw;
        margin: auto;
        height: 7vh;
        z-index: 100;
        padding-top: 2%;
        transform: translateX(-4%); /* Adjust the transform */
    }
    .links,.btnReserve{
        margin: auto;
        padding-bottom: 5%;
    }
    .languageChanger{
        text-align: center;
    }
}

/* Tablet devices (landscape) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    
}
